@import './index.css';
@import './admin.scss';

#mw-live-edit-quickEditComponent-box:has(.edit-fields-container:empty)
    .mw-control-box-content {
    pointer-events: none;
    opacity: 0.5;
}
#mw-live-edit-quickEditComponent-box .mw-ai-chat-form {
    @apply absolute bottom-[60px] z-10 w-[calc(100%_-_40px)];
}

.edit-fields-container {
    padding-bottom: 220px;
}

.quick-ai-card {
    background: #7d7d7d17;
    margin-bottom: 1rem;
}

.quick-ai-card-body .live-edit-label + input:not(:focus) {
    border-color: #cacaca;
}
.quick-ai-card-body .live-edit-label {
    margin: -10px 7px;
    position: relative;
    z-index: 1;
    background: #f3f3f3;
    display: inline-block;
    line-height: 11px;
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
}
html.dark .quick-ai-card-body .live-edit-label {
    background: #2e2e31;
    color: rgba(255, 255, 255, 0.5);
}
.quick-ai-card-body .form-control-live-edit-input {
    font-size: 14px;
}
.quick-ai-card-body {
    padding: 0 15px 7.5px 15px;
}
